.card{
    border: solid #ffffff;
    width: 600px;
    height: 500px;
    background-color: #0d5825;
    margin-bottom: 10px;
    position: relative;
}
.textcard{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.tuz{
    width:150px;
    position: absolute;
}
.tuz:hover{
    top:2px;
}
.tuz1{
    transform: translate(300px,130px) rotate(10deg);
}
.tuz2{
    transform: translate(250px,110px) rotate(-10deg);
}
.tuz3{
    transform: translate(200px,110px)  rotate(-20deg);
}



.block{
    border: solid #ffffff;
    width: 450px;
    height: 450px;
    position: relative;
}
.bl{
    border:0px solid #ffffff;
    width: 150px;
    height: 150px;
    position: absolute;
}
.block1{  
    background-color: rgb(221, 141, 210);
}
.block2{
    background-color: rgb(110, 98, 219);
    z-index: 2;
    transform: translate(100px,100px);
}
.block3{
    background-color: rgb(97, 231, 126);
    transform: translate(200px,200px); 
}


.menu{
    border:0px solid #ffffff;
    width: 220px;
    height: 400px;
    background-color: rgb(131, 129, 129);
    position: relative;
    transition-duration: 2s;
    left: -200px;
}
.menu:hover{
    left:0;
}
.list{
    padding: 30px 30px;
}

.list ul li {
    font-size: 16px;
    margin: 15px 0;
    cursor: pointer;
    color:#ffffff;
}

.list ul li::before {
    content: '';
    border: 1px solid black;
    width: 10px;
    height: 10px;
    background-color: rgb(216, 135, 29);
    position: absolute;
    transform: translate(-20px,3px) rotate(45deg);    
}
.list ul li:hover{
    color:rgb(216, 135, 29);
}

.menu-here{
    text-align: center;
    padding-bottom: 20px;
    color: #ffffff;
    position: absolute;
    transform: rotate(90deg)  translate(-67px,-150px);
    transition-duration: 2s;
}
.menu:hover .menu-here{
    color: rgba(0, 0, 0, 0);
}
.osn{
    width: 400px;
    height: 400px;
    margin: 20px;
    position: relative;
}
@keyframes anim{
    0%{
        background-color: red;
        top:0px;
        left:0px;
    }
    25%{
        background-color: blue;
        top: 300px;
        left:0px;
    }
    50%{
        background-color: yellow;
        top: 300px;
        left:300px;
    }
    75%{
        background-color: green;
        top: 0px;
        left:300px;
    }
    100%{
        background-color: red;
        top:0px;
        left:0px;
    }
}
.cube{
    width: 100px;
    height: 100px;
    position: absolute;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

